@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.rubik-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

:root {
  --primary-color: black;
  --secondary-color: hsl(0, 0%, 58%);
  --bg-color: white;
  --hover-color: hsl(0, 0%, 17%);

  --border-radius: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#map {
  height: calc(100vh - 280px);
  width: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
}

.header-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1.5rem, 3vw, 2rem);

  height: 280px;
  width: 100%;
  padding-block-start: 1.7rem;
  padding-inline: 1.5rem;
  color: white;
  background: url(../images/pattern-bg-mobile.png) no-repeat center/cover;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.main__heading {
  font-size: clamp(1.625rem, 3vw, 2rem);
  font-weight: 500;
  color: var(--bg-color);
}

/* ========== SEARCH ========== */

.main__search {
  display: grid;
  grid-template-columns: 5fr 1fr;
  width: 100%;
  max-width: 35rem;
}

.main__input {
  height: 3.7rem;
  padding: 1rem clamp(1rem, 3vw, 1.8rem);

  font-size: clamp(0.75rem, 3vw, 1.125rem);
  border: none;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  cursor: pointer;
}

.main__search-btn {
  border: none;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  background-color: var(--primary-color);
  transition: 0.3s ease background-color;
}

.main__search-btn:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

/* ========== RESULT ========== */

.results {
  position: absolute;
  top: clamp(168px, 14vw, 200px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1.5rem, 3vw, 2.5rem);

  width: 90%;
  max-width: 70rem;
  padding: clamp(1.8rem, 3vw, 2.5rem);
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
}

.results__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(0.5rem, 2vw, 1rem);
}

.results__heading {
  font-size: clamp(0.625rem, 2vw, 0.75rem);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.results__info {
  font-size: clamp(1.125rem, 3vw, 1.5rem);
  font-weight: 700;
  letter-spacing: 0.7px;
}

.results__info:last-child {
  margin-block-end: 0;
}

/* ========== MEDIA ========== */

@media (prefers-reduced-motion: reduce) {
  .main__search-btn {
    transition: none;
  } 
}